  @import url("https://use.typekit.net/pic0zpp.css");

  html,
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "blithe", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    /*oktaeder über text */
  }

  h1,
  h2,
  .reward,
  .reward2,
  .reward3,
  .foreward,
  .foreward2,
  .foreward3 {
    position: fixed;
    left: 0;
    width: 100%;
    color: grey;
    font-size: 4vw;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    z-index: 1;
    opacity: 0.5;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  h1 {
    top: 10%;
    animation-name: h1-forward;
  }

  h2 {
    top: 30%;
    animation-name: h2-reverse;
  }

  .reward {
    top: 40%;
    animation-name: h2-reverse;
  }

  .reward2 {
    top: 60%;
    animation-name: h2-reverse;
  }

  .reward3 {
    top: 80%;
    animation-name: h2-reverse;
  }

  .foreward {
    top: 20%;
    animation-name: h1-forward;
  }

  .foreward2 {
    top: 50%;
    animation-name: h1-forward;
  }

  .foreward3 {
    top: 70%;
    animation-name: h1-forward;
  }

  /*animation vom text*/
  .marquee-track {
    display: inline-block;
    will-change: transform;
  }

  .marquee-track.forward {
    animation-name: marquee-forward;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .marquee-track.reverse {
    animation-name: marquee-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .marquee-copy {
    display: inline-block;
    padding-right: 2vw;
    /* kleine Lücke zwischen den Wiederholungen */
  }

  @keyframes marquee-forward {
    from {
      transform: translateX(-50%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes marquee-reverse {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }